/*
  The .card__conteiner class styles the container for the property cards.
  It sets up flexbox to horizontally center and vertically align the cards.
  min-height is set to ensure that the container occupies at least 60% of the viewport height.
*/
.card__conteiner {
  /*
  The .card class styles each individual property card.
  It sets the position, width, height, padding, and flexbox properties.
  The card is displayed as a column layout with space between elements.
*/
  .card {
    position: relative;
    width: 320px;
    height: 400px;
    padding: 0 0.5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*
  The .image-bx class styles the container for the property images.
  It sets the position, dimensions, background color, border radius, and overflow properties.
  The image-bx pseudo-elements create decorative elements using box-shadow.
*/
    .image-bx {
      position: relative;
      width: 100%;
      height: 240px;
      background-color: $color-additional;
      border-radius: 15px;
      overflow: hidden;
      a {
        img {
          height: 100%;
        }
      }
    }

    .image-bx::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-radius: 50%;
      box-shadow: -10px 10px 0 $bg-color-primary;
    }

    .image-bx::after {
      content: "";
      position: absolute;
      bottom: 70px;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border-radius: 50%;
      box-shadow: -10px 10px 0 $bg-color-primary;
    }
    /*
  The .card__content class styles the content section of each property card.
  It sets the position, dimensions, background color, border radius, and padding.
  The ul within the card content is styled to change its color.
*/
    .card__content {
      position: relative;
      width: 100%;
      height: 150px;
      background-color: $color-additional;
      border-radius: 15px;
      border-top-left-radius: 0;
      padding: 0 35px;

      ul {
        padding-top: 2%;
        color: $color-primary;
        line-height: 1.2rem;
      }
    }
    /*
  The .price class styles the price section of each property card.
  It sets the position, dimensions, background color, and border styles.
  It also styles the anchor tag within the price section.
*/
    .price {
      position: absolute;
      left: 0;
      top: -80px;
      width: 50%;
      height: 80px;
      background-color: $color-additional;
      border-top: 10px solid $bg-color-primary;
      border-right: 10px solid $bg-color-primary;
      border-top-right-radius: 25px;

      a {
        position: relative;
        background: $color-secondary;
        padding: 10px 20px;
        margin: 15px 15px;
        display: block;
        border-radius: 7px;
        text-decoration: none;
        font-weight: 600;
        color: $color-additional;
        text-align: center;
        font-size: 0.8rem;
      }
    }
    /*
  The pseudo-elements for .price create decorative elements using box-shadow.
*/
    .price::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background: transparent;
      border-radius: 50%;
      box-shadow: -10px -10px 0 $bg-color-primary;
    }

    .price::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -25px;
      width: 25px;
      height: 25px;
      background: transparent;
      border-radius: 50%;
      box-shadow: -10px 10px 0 $color-additional;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
