/*
  Mixin for creating a news grid layout with a specified number of columns.
  Parameters:
    - $times: Number of columns in the grid.
*/
@mixin news($times) {
  display: grid;
  grid-template-columns: repeat(
    $times,
    1fr
  ); /* Creates columns with equal width */
  column-gap: 20px; /* Sets the gap between columns */
  padding: 20px 2%; /* Adds padding around the grid */
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5); /* Adds a box shadow effect */
}
