@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather-Regular.ttf");
}

$color-primary: #fefefe;
$color-secondary: #ffcc01;
$color-additional: #2b2a29;
$bg-color-primary: #1a1a1c;
$index: calc(1vw + 1vh);
// $font-size-xs: 0.875rem;
// $font-size-sm: 1rem;
// $font-size-lg: 2rem;
