.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 65px auto;
  grid-template-rows: 100px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
  background-color: #1d1d1d;
  padding: 0 5%;
}
.header .menu {
  color: #ffe600;
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.header .menu__item {
  transition: all 0.35s;
}
.header .menu__item:not(:first-child)::before {
  color: #ebebeb;
  content: "/";
  display: inline-block;
  margin: 0 8px;
}
.header .menu__item:hover {
  color: #ebebeb;
}

.main {
  padding-top: 110px;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 950px;
  width: 100%;
  background-color: #1d1d1d;
  border-radius: 12px;
  margin: 0 20px;
  padding: 40px 50px 40px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.tabs .tabs__title {
  color: #fefefe;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 700px 20px 0;
}

.tabs .tabs__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs .tabs__content .tabs__list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  margin-right: 50px;
}

.tabs .tabs__content .tabs__list label {
  height: 60px;
  font-size: 22px;
  font-weight: 500;
  border-radius: 12px;
  line-height: 60px;
  cursor: pointer;
  padding-left: 25px;
  color: #ffe600;
  z-index: 12;
  transition: all 0.2s ease;
}

.tabs .tabs__content .tabs__list label:hover {
  color: #fefefe;
}

.tabs .tabs__content .indicator {
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffe600;
  border-radius: 12px;
  transition: all 0.2s;
}

.tabs .tabs__content .tabs__section {
  width: 80%;
  height: 100%;
}

.tabs .tabs__content .tabs__section .text {
  text-indent: 20px;
  color: #fefefe;
  display: none;
}

.tabs .tabs__content .tabs__section .home {
  display: block;
}

.tabs .tabs__content .tabs__section .tabs__section-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.tabs .tabs__content .tabs__section p {
  text-align: justify;
}

.tabs input {
  display: none;
}

#home:checked ~ .tabs__list .home,
#blog:checked ~ .tabs__list .blog,
#help:checked ~ .tabs__list .help,
#code:checked ~ .tabs__list .code,
#about:checked ~ .tabs__list .about {
  color: #8D8F97;
}

#home:checked ~ .tabs__list .indicator {
  top: 0;
}

#blog:checked ~ .tabs__list .indicator {
  top: 60px;
}

#help:checked ~ .tabs__list .indicator {
  top: 120px;
}

#code:checked ~ .tabs__list .indicator {
  top: 180px;
}

#about:checked ~ .tabs__list .indicator {
  top: 240px;
}

#home:checked ~ .tabs__section .home,
#blog:checked ~ .tabs__section .blog,
#help:checked ~ .tabs__section .help,
#code:checked ~ .tabs__section .code,
#about:checked ~ .tabs__section .about {
  display: block;
}

#blog:checked ~ .tabs__section .home,
#help:checked ~ .tabs__section .home,
#code:checked ~ .tabs__section .home,
#about:checked ~ .tabs__section .home {
  display: none;
}/*# sourceMappingURL=styles.css.map */