/*
  This SCSS file imports styles from other partial files: "tabs", "parallax", "slider", "offers", and "news".
*/
@import "tabs"; // Import styles for tabs
@import "parallax"; // Import styles for parallax effect
@import "slider"; // Import styles for slider
@import "about"; // Import styles for about
@import "offers"; // Import styles for offers section
@import "news"; // Import styles for news section
@import "card"; // Import styles for news section
@import "article"; // Import styles for article section

/*
  The .main class styles the main section of the page.
  It sets the background color and minimum height to 100vh.
*/
.main {
  background-color: $bg-color-primary;
  min-height: 100vh;
}
/*
  Styles for the HTML element.
  It sets the scroll behavior to smooth.
*/
html {
  scroll-behavior: smooth;
}
/*
  The .about-wrap class styles a container element.
  It sets the margin, display, flex direction, and styles for the content inside.
*/

