.offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 169px;
  justify-items: center;
  padding: 20px 10%;

  &__item {
    position: relative;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    
    .offers__heading {
      position: absolute;
      top: 70px;
      left: 50px;
      font-size: 1.5rem;
      font-weight: 700;
      z-index: 5;
    }

    .offers__img {
      transition: all 0.2s;
    }

    &:hover .offers__img {
      transform: scale(1.1);
    }
  }
}
