.layers-wrap {
  position: relative;

  // styles for layers
  .layers {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

  // styles for layer
    .layer {
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
      background-position: center;
      will-change: transform;
      z-index: 2;
    }

  // styles for header
    .layers__header {
      z-index: 1;
      transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
      will-change: transform;
      text-transform: uppercase;
      color: #fff;
      line-height: 1.55;
      font-weight: 700;
      text-shadow: 0 0 15px $color-secondary;

  // styles for caption
      .layers__caption {
        font-size: calc($index * 2.5);
        letter-spacing: calc($index / 2.25);
      }

  // styles for title
      .layers__title {
        font-size: calc($index / 1.175);
        letter-spacing: calc($index / 3.5);
        margin-bottom: calc($index * (0.5));
      }
    }

    // Background layers with different parallax effects 
    .layers__base {
      transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
      z-index: 0;
    }

    .layers__middle {
      transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
    }

    .layers__front {
      transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
    }
  }
}
