.slider {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading {
    text-align: center;
    text-shadow: -1px -1px 0 #000;
  }

  // styles for images container
  .imgs {
    text-align: center;
    display: flex;
    width: 100%;
    height: 500px;
    overflow: hidden;

    img {
      position: absolute;
      opacity: 0;
      transition: all 0.6s;
      width: 80%;
      height: 500px;
    }

    .current {
      opacity: 1;
    }
  }

  // styles for navigator buttons
  .buttons {
    text-align: center;

    button {
      margin: 20px 50px 0;
      width: 75px;
      height: 75px;
      border: none;
      outline: none;
      border-radius: 20px;
      transition: all 0.3s;

      &:active {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

    .prev {
      background: url("../images/arrow_left.svg") center center no-repeat;
      background-size: cover;
    }

    .next {
      background: url("../images/arrow_right.svg") center center no-repeat;
      background-size: cover;
    }
  }
}
